# =========================
# Ambiente Virtual
# =========================

.venv/
venv/

# =========================
# Python Cache
# =========================

__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Variáveis de Ambiente
# =========================

.env

# =========================
# Pandas / Datasets
# =========================

app/data/processed/

# =========================
# Jupyter Notebook
# =========================

.ipynb_checkpoints/

# =========================
# Logs
# =========================

*.log

# =========================
# PyCharm / JetBrains
# =========================

.idea/
*.iml

# =========================
# VSCode
# =========================

.vscode/

# =========================
# Sistema Operacional
# =========================

.DS_Store
Thumbs.db

# =========================
# Build / Distribuição
# =========================

build/
dist/
*.egg-info/

# =========================
# Cache de Testes
# =========================

.pytest_cache/
.mypy_cache/

# =========================
# Claude
# =========================
.claude